{% extends 'layout.html' %}

{% block content %}
<div class="acknowledgment-page">
    <h2>About the Creator</h2>
    <img src="{{ url_for('static', filename='images/doggo.JPG') }}" class="circular-image">
    <p>Hii Nidhi, or should I say baddie, I think pretty lady works fine.</p>
    <p>Hii pretty lady, this doggo created this webpage cause he got to know you feel sad & disappointed with life.</p>
    <p>Apparently this dog is unnamed, you can name this chonky doggo with the names you love.</p>
    <p>Here's something chonky doggo has to say: "Hii pretty lady, are you really her? I got to know you aren't feeling happy about yourself & your life I hope this makes you feel good, I'm a doggo afterall do i can't make webpages really often to cheer you up but I there's someone I know who can make you feel better. 
        I present you, your own personal non-nigga slave 
        He goes by the name 'shreyash' (I heard he got pink-nips). He can be a perfect sex slave for you, he's not a nigger as you like but I heard he can provide good emotional support (my private investigator said 'he loves you a lot' & considers you his 'loml')
        Seems quite fitting for you, when me the 'chonky doggo' isn't around he will be there to cheer you. Until then take care pretty lady, it's my honour you came across my website. 
        (you already know how to contact the guy with pink nips)
        Bye"</p>
    <p>Your response is in good care, your feelings will be heard and taken care of in a safe manner. Have a nice day!</p>
    <a href="{{ url_for('index') }}" class="button">Main Page</a>
</div>
{% endblock %}

