Collecting blinker==1.8.2 (from -r requirements.txt (line 1))
  Using cached blinker-1.8.2-py3-none-any.whl.metadata (1.6 kB)
Collecting click==8.1.7 (from -r requirements.txt (line 2))
  Using cached click-8.1.7-py3-none-any.whl.metadata (3.0 kB)
Collecting colorama==0.4.6 (from -r requirements.txt (line 3))
  Using cached colorama-0.4.6-py2.py3-none-any.whl.metadata (17 kB)
Collecting Flask==3.0.3 (from -r requirements.txt (line 4))
  Using cached flask-3.0.3-py3-none-any.whl.metadata (3.2 kB)
Collecting itsdangerous==2.2.0 (from -r requirements.txt (line 5))
  Using cached itsdangerous-2.2.0-py3-none-any.whl.metadata (1.9 kB)
Collecting Jinja2==3.1.4 (from -r requirements.txt (line 6))
  Using cached jinja2-3.1.4-py3-none-any.whl.metadata (2.6 kB)
Collecting MarkupSafe==2.1.5 (from -r requirements.txt (line 7))
  Using cached MarkupSafe-2.1.5-cp312-cp312-win_amd64.whl.metadata (3.1 kB)
Collecting Werkzeug==3.0.4 (from -r requirements.txt (line 8))
  Using cached werkzeug-3.0.4-py3-none-any.whl.metadata (3.7 kB)
Using cached blinker-1.8.2-py3-none-any.whl (9.5 kB)
Using cached click-8.1.7-py3-none-any.whl (97 kB)
Using cached colorama-0.4.6-py2.py3-none-any.whl (25 kB)
Using cached flask-3.0.3-py3-none-any.whl (101 kB)
Using cached itsdangerous-2.2.0-py3-none-any.whl (16 kB)
Using cached jinja2-3.1.4-py3-none-any.whl (133 kB)
Using cached MarkupSafe-2.1.5-cp312-cp312-win_amd64.whl (17 kB)
Using cached werkzeug-3.0.4-py3-none-any.whl (227 kB)
Installing collected packages: MarkupSafe, itsdangerous, colorama, blinker, Werkzeug, Jinja2, click, Flask
Successfully installed Flask-3.0.3 Jinja2-3.1.4 MarkupSafe-2.1.5 Werkzeug-3.0.4 blinker-1.8.2 click-8.1.7 colorama-0.4.6 itsdangerous-2.2.0